<footer class="footer">
  <div class="footer__inner">
    <img src="assets/images/fucktoken-circle-logo.png" alt="FuckToken logo"/>
    <div class="footer-links-container">
      <div>
        <p class="footer-title"> Links </p>
        <a href="#home"> Home </a>
        <a href="https://hub.fucktoken.com/"> FuckHub </a>
        <a href="#"> Wiki </a>
        <!--<a href="#"> The FUCK Manifesto </a>-->
        <!--<a href="#"> Contact Us </a>-->
      </div>
      <div>
        <p class="footer-title"> Social </p>
        <a href="https://medium.com/@fcktoken"> Blog </a>
        <a href="https://twitter.com/FuckToken"> Twitter </a>
        <a href="https://www.reddit.com/r/FuckToken/"> Reddit </a>
        <a href="https://t.me/FuckToken"> Telegram </a>
        <a href="https://discord.gg/w6nZXpd"> Discord </a>
        <a href="https://join.slack.com/t/fucktokenofficial/shared_invite/enQtMzcyOTk4MzIxMzgzLTZjZjEwNGZhODJmZTAwNGVhNjUwZjFlNWQ1MGY5ODg3MjZiM2MyZDE4M2E3OTk5MGEzOWUxM2RkMjE3NWNmNzk"> Slack </a>
        <a href="https://www.youtube.com/channel/UCBOHD5QHGGOZp-ztLxD7YSw"> YouTube </a>
      </div>
      <div>
        <p class="footer-title"> Contact US </p>
        <p> Telegram is our official support channel: </p>
        <a class="bold-link" href="https://t.me/FuckToken"> https://t.me/FuckToken </a>
        <p> Press or other inquiries: <a href="mailto:contact@fucktoken.com">contact@fucktoken.com</a></p>
      </div>
    </div>
  </div>
</footer>
