<div>
  <div class="section-container blue-bg">
    <div class="hero__inner">
      <img class="hero-logo" src="assets/images/fucktoken-circle-logo.png" alt="Fuck token logo"/>
      <h1> Express yourself, give a <img src="assets/images/fuck.png" alt="fuck"/></h1>
      <div class="button-container">
        <a class="button button-light" href="https://hub.fucktoken.com/auth/signin"><img src="assets/images/icon-piechart.png" alt="pie icon"/><p>Enter Fuckhub</p></a>
        <a class="button button-dark" href="https://idex.market/eth/fuck"><img src="assets/images/icon-coins.png" alt="coin icon"/><p>Get Tokens</p></a>
      </div>
    </div>
  </div>

  <div class="iframe-container">
    <div class="what-container__inner">
      <div id="about" class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/s_NiGNa6XmA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="what-description">
        <h2> What is <img src="assets/images/fuck-blue.png" alt="fuck"/> Token?</h2>
        <p><em>FUCK Token</em> gives you the power to show the world how much of a fuck you give. FUCK (Finally Usable Crypto Karma) is the native currency of the FuckHub platform, which allows you to tip and burn FUCKs across multiple mainstream social media and chat applications - creating a whole new way of expressing opinions and emotions online. You can think of <em>giving a FUCK</em> as an upvote, a like or a favorite that matters.</p>
      </div>
    </div>
  </div>
  <div class="section-container gradient-bg">
    <div class="wallet-container__inner">
      <h2 class="section-title"> The FuckHub </h2>
      <img src="assets/images/laptop.png" alt="laptop"/>
      <div class="description-container">
        <h3 class="section-subtitle"> Inclusive Platform </h3>
        <p>FuckHub serves as an intuitive wallet designed with cryptocurrency newcomers in mind. Monitor your balance, tips, burns, rank, the leaderboard and other statistics on your Dashboard.  </p>

        <p class="spacer-small">The top tippers are prominently displayed for every user to see, offering instant bragging rights of being the biggest FUCKer in the world. You can also show how little of a FUCK you give by climbing the top burner ladder.</p>
      </div>
    </div>
  </div>
  <div class="section-container gray-bg">
    <div class="features-container__inner">
      <h2 class="section-title"> Connect </h2>
      <h3 class="section-subtitle"> Link all of your social media accounts to one tipping wallet </h3>
      <div class="logos-container">
        <div class="logo-column">
          <img src="assets/images/twitter.png" alt="twitter"/>
          <img src="assets/images/reddit.png" alt="reddit"/>
          <img src="assets/images/discord.png" alt="discord"/>
        </div>
        <div class="logo-column">
          <img class="wallet" src="assets/images/fuck-hub-wallet.png" alt="wallet"/>
        </div>
        <div class="logo-column">
          <img src="assets/images/telegram.png" alt="mail"/>
          <img src="assets/images/twitch.png" alt="twitch"/>
          <img src="assets/images/slack.png" alt="slack"/>
        </div>
      </div>
      <a href="https://hub.fucktoken.com/" class="button button-purple auto-width"><img src="assets/images/icon-piechart.png" alt="pie icon"/><p>Sign-Up For Fuckhub </p></a>
    </div>
  </div>
  <div class="section-container gradient-bg">
    <div class="section-title-container">
      <h2 class="section-title"> A Closer Look </h2>
      <div class="grid-container">
        <div class="grid-container__inner">
          <div class="grid-item">
            <img src="assets/images/icon-coins.png" alt="coins"/>
            <p class="title"> No Fees </p>
            <p> We want the world to give a FUCK, so not only is the use of FuckHub entirely free, we also cover the Ethereum network fees.</p>
          </div>
          <div class="grid-item">
            <img src="assets/images/stats.png" alt="chart"/>
            <p class="title"> Personalized Stats </p>
            <p> Want to know how often you give a FUCK?  Our charts and statistics can show exactly how much of a FUCK you give (or don’t). </p>
          </div>
          <div class="grid-item">
            <img src="assets/images/accountcreation.png" alt="wallet"/>
            <p class="title"> Account Creation </p>
            <p> FuckHub wallets are automatically generated for new users.  Tipping someone a FUCK allows them to immediately join the fun, without the hassle of signing up. </p>
          </div>
          <div class="grid-item">
            <img src="assets/images/secure.png" alt="secure"/>
            <p class="title"> Secure </p>
            <p> Sign in with any supported platform and enable 2-Factor Authentication to keep your FUCKs safe.</p>
          </div>
          <div class="grid-item">
            <img src="assets/images/customizable.png" alt="customizable"/>
            <p class="title"> Customizable </p>
            <p> Become a top FUCKer and have your profile showcased on the dashboard of every other member.  Users can increase their rank based on the amount of tips they give. </p>
          </div>
          <div class="grid-item">
            <img src="assets/images/mail.png" alt="Mail"/>
            <p class="title"> Free Withdrawals </p>
            <p> Your wallet features free withdrawals from FuckHub.  Want to send your FUCKs to cold storage?  No problem, withdrawal couldn’t be easier. FUCKs safe. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container gray-bg">
    <div class="section-title-container">
      <h2 class="section-title"> Tip bots </h2>
      <h3 class="section-subtitle"> Tip or burn from over 5 social media platforms. See the bots in action. </h3>
    </div>
    <div class="two-column-container">
      <div class="two-column-container__inner">
        <div>
          <img src="assets/images/telegram_FINAL.png" alt="bot"/>
          <img src="assets/images/twitch_FINAL.png" alt="bot"/>
          <img src="assets/images/twitter_FINAL.png" alt="bot"/>
        </div>
        <div>
          <img src="assets/images/discord_FINAL.jpg" alt="bot"/>
          <img src="assets/images/reddit_FINAL.png" alt="bot"/>
          <img src="assets/images/slack_FINAL.jpg" alt="bot"/>
        </div>
      </div>
    </div>
  </div>
</div>
