<div class="contact-container blue-bg">
  <div class="contact-container__inner">
    <p> We fucking love to help. </p>
    <h2> Need live support? Join our Telegram. </h2>
    <img class="telegram" src="assets/images/telegram-blue.png" alt="telegram"/>
    <a href="https://t.me/FuckToken"> https://t.me/FuckToken </a>
    <img class="dots" src="assets/images/dots.png" alt="dots"/>
    <h2> Prefer email? Send us a message.</h2>
    <form class="form-container">
      <div class="form-field">
        <label> Full Name: </label>
        <input type="text"/>
      </div>
      <div class="form-field">
        <label> Your Email: </label>
        <input type="email"/>
      </div>
      <div class="form-field">
        <label> How can we help? </label>
        <textarea></textarea>
      </div>
      <button class="button button-dark" href="https://hub.fucktoken.com/auth/signin">Send Message</button>
    </form>
    <img class="email" src="assets/images/email-icon.png" alt="email"/>
    <p> Press and other inquiries: </p>
    <a href="mailto:contact@fucktoken.com">contact@fucktoken.com</a>
  </div>
</div>
