@mixin gradient() {
  background: #718df9; /* Old browsers */
  background: -moz-linear-gradient(left, #718df9 0%, #335cf6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #718df9 0%,#335cf6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #718df9 0%,#335cf6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#718df9', endColorstr='#335cf6',GradientType=1 ); /* IE6-9 */
}
