<div>
    <nav>
      <img src="assets/images/fucktoken-text-logo.png" alt="fuck token logo"/>
      <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">fuckhub</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </nav>
</div>

<div>
  <div class="section-container blue-bg">
    <div class="hero__inner">
      <img class="hero-logo" src="assets/images/fucktoken-circle-logo.png" alt="Fuck token logo"/>
      <h1> Express yourself, give a <img src="assets/images/fuck.png" alt="fuck"/></h1>
      <div class="button-container">
        <button class="button button-light"><img src="assets/images/icon-piechart.png" alt="pie icon"/><p>Enter Fuckhub</p></button>
        <button class="button button-dark"><img src="assets/images/icon-coins.png" alt="coin icon"/><p>Get Tokens</p></button>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="what-container__inner">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/s_NiGNa6XmA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="what-description">
        <h2> What is <img src="assets/images/fuck-blue.png" alt="fuck"/> Token?</h2>
        <p><em>FUCK Token</em> is an Ethereum-based tipping token for mainstream social media and chat websites.  Our token enables real-time peer-to-peer value exchange, while allowing users to express their opinions.  <em>Giving a FUCK</em> is similar to an upvote, like, or favorite.</p>
      </div>
    </div>
    </div>
    <div class="section-container gradient-bg">
      <div class="wallet-container__inner">
        <h2 class="section-title"> The Wallet </h2>
        <img src="assets/images/laptop.png" alt="laptop"/>
        <div class="description-container">
          <h3 class="section-subtitle"> Dashboard Design </h3>
          <p>When it comes to giving a FUCK, nothing is more important than keeping track of your movement.  With our FuckHub Dashboard you can monitor your balance, tips, burns, statistics and the leaderboard.</p>

          <p class="spacer-small">The top tippers are prominently displayed for every user to see, offering instant bragging rights of being the biggest FUCKer in the world.  You can also show how little of a FUCK you give by climbing the top burner rate.</p>
        </div>
      </div>
    </div>
    <div class="section-container gray-bg">
      <div class="features-container__inner">
        <h2 class="section-title"> Features </h2>
        <h3 class="section-subtitle"> Connect all of your social media accounts to one tipping wallet </h3>
        <div class="logos-container">
          <div class="logo-column">
            <img src="assets/images/twitter.jpg" alt="twitter"/>
            <img src="assets/images/reddit.jpg" alt="reddit"/>
            <img src="assets/images/discord.jpg" alt="discord"/>
          </div>
          <div class="logo-column">
            <img class="wallet" src="assets/images/fuck-hub-wallet.png" alt="wallet"/>
          </div>
          <div class="logo-column">
            <img src="assets/images/telegram.jpg" alt="mail"/>
            <img src="assets/images/twitch.jpg" alt="twitch"/>
            <img src="assets/images/slack.jpg" alt="slack"/>
          </div>
        </div>
        <button class="button button-purple auto-width"><img src="assets/images/icon-piechart.png" alt="pie icon"/><p>Sign-Up For Fuckhub </p></button>
      </div>
    </div>
    <div class="section-container gradient-bg">
      <div class="section-title-container">
        <h2 class="section-title"> A Closer Look </h2>
        <h3 class="section-subtitle"> Connect all of your social media accounts to one tipping wallet </h3>
        <div class="grid-container">
          <div class="grid-container__inner">
            <div class="grid-item">
              <img src="assets/images/icon-coins.png" alt="coins"/>
              <p class="title"> No Fees </p>
              <p> We want the world to give a FUCK, so we offer no fees on your tips.  Gas costs are also free - we’ve got you covered. </p>
            </div>
            <div class="grid-item">
              <img src="assets/images/stats.png" alt="chart"/>
              <p class="title"> Personalized Stats </p>
              <p> Want to know how often you give a FUCK?  Our charts and statistics can show exactly how much of a FUCK you give (or don’t). </p>
            </div>
            <div class="grid-item">
              <img src="assets/images/nofees.png" alt="wallet"/>
              <p class="title"> Account Creation </p>
              <p> FuckHub wallets are automatically generated for new users.  Tipping someone a FUCK allows them to immediately join the fun, without the hassle of signing up. </p>
            </div>
            <div class="grid-item">
              <img src="assets/images/secure.png" alt="secure"/>
              <p class="title"> Secure </p>
              <p> Your tipping wallet is more secure than Equifax.  Sign in with any supported platform and enable 2-Factor authorization to keep your FUCKs safe. </p>
            </div>
            <div class="grid-item">
              <img src="assets/images/customizable.png" alt="customizable"/>
              <p class="title"> Customizable </p>
              <p> Become a top FUCKer and have your profile showcased on the dashboard of every other member.  Users can increase their rank based on the amount of tips they give. </p>
            </div>
            <div class="grid-item">
              <img src="assets/images/mail.png" alt="Mail"/>
              <p class="title"> Free Withdrawals </p>
              <p> Your wallet features free withdrawals from FuckHub.  Want to send your FUCKs to cold storage?  No problem, withdrawal couldn’t be easier. FUCKs safe. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-container gray-bg">
      <div class="section-title-container">
        <h2 class="section-title"> Tipping bots </h2>
        <h3 class="section-subtitle"> Tips from over 5 social media accounts. See the Tip-Bots in action. </h3>
      </div>
      <div class="two-column-container">
        <div class="two-column-container__inner">
          <img src="assets/images/botscreen.png" alt="bot"/>
          <img src="assets/images/botscreen.png" alt="bot"/>
          <img src="assets/images/botscreen.png" alt="bot"/>
          <img src="assets/images/botscreen.png" alt="bot"/>
          <img src="assets/images/botscreen.png" alt="bot"/>
          <img src="assets/images/botscreen.png" alt="bot"/>
        </div>
      </div>
    </div>

</div>
