<div id="home">
  <nav class="large-screen-nav">
    <a routerLink="/"><img src="assets/images/fucktoken-text-logo.png" alt="fuck token logo"/></a>
    <ul>
      <li><a routerLink="/">home</a></li>
      <li><a href="https://hub.fucktoken.com/">fuckhub</a></li>
      <li><a href="http://wiki.fucktoken.com">tutorials</a></li>
      <li><a href="https://medium.com/@fcktoken">blog</a></li>
      <li><a routerLink="/contact">contact</a></li>
    </ul>
  </nav>

  <nav class="small-screen-nav">
    <a routerLink="/"><img class="nav-logo" src="assets/images/fucktoken-text-logo.png" alt="fuck token logo"/></a>
    <img class="burger" src="assets/images/burger-icon.png" alt="navigation" (click)="onSelect()" />
      <div *ngIf="showNav">
      <div class="fixed-nav">
        <img src="assets/images/close.png" (click)="closeNav()" alt="close navigation"/>
        <ul>
          <li (click)="closeNav()"><a routerLink="/">home</a></li>
          <li (click)="closeNav()"><a href="https://hub.fucktoken.com/">fuckhub</a></li>
          <li (click)="closeNav()"><a href="http://wiki.fucktoken.com">tutorials</a></li>
          <li (click)="closeNav()"><a href="https://medium.com/@fcktoken">blog</a></li>
          <li (click)="closeNav()"><a routerLink="/contact">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
