// import React from 'react';
// import logo from '../../../images/fucktoken-text-logo.png'
//
// const Navigation = () =>
//   (<nav>
//     <img src={ logo } alt="fuck token logo"/>
//     <ul>
//       <li><a href="#">home</a></li>
//       <li><a href="#">fuckhub</a></li>
//       <li><a href="#">about</a></li>
//       <li><a href="#">contact</a></li>
//     </ul>
//   </nav>);
//
// export default Navigation;
nav {
  display: flex;
  align-items: center;
  padding: 0 60px;
  justify-content: space-between;
  background: #fff;
  height: 100px;
  img {
    width: 200px;
  }
  ul {
    display: flex;
  }
  a {
    color: $primary-light-blue;
    text-decoration: none;
    font-family: $bold;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
  }
}
